@import url('https://fonts.cdnfonts.com/css/sf-pro-display'); // fonts

body {
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  aligm-items: center;
}

.btn-show {
  width: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
   font-family: 'SF Pro Display';
}

.card__item {
  width: 398px;
  height: 200px;
  padding: 25px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px -4px 48px 0px rgba(0, 0, 0, 0.10);
  margin: 10px 0px 0px 0px;
  transition: 0.2s;
  font-family: 'SF Pro Display';
}

.card__item:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.2s;
}

.card__btn {
  width: 100px;
  height: 28px;
  background: #FFF;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px -4px 48px 0px rgba(0, 0, 0, 0.10);
  margin: 10px 0px 0px 0px;
  transition: 0.2s;
}

.card__btn:hover {
  cursor: pointer;
}